/* src/pages/Home.css */

.home-container {
  position: relative;
  width: 402px;
  height: 874px;
  background: #FFFFFF;
  margin: 0 auto;
  font-family: 'Pretendard Variable', sans-serif;
}

.home-name {
  position: absolute;
  left: 24px;
  top: 90px;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

.menu-icon {
  position: absolute;
  left: 355px;
  top: 102px;
  width: 23px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-icon .line {
  width: 23px;
  height: 2px;
  background-color: black;
}

.image-placeholder {
  position: absolute;
  width: 354px;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  display: block;
}

.profile-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain; /* 이미지 원본 비율 유지 */
}
