/* src/pages/Home.css */

.home-container {
  position: relative;
  width: 100%;
  max-width: 402px;
  min-height: 100vh;
  background: #FFFFFF;
  margin: 0 auto;
  font-family: 'Pretendard Variable', sans-serif;
  padding: 0 24px;
  box-sizing: border-box;
}

.home-name {
  position: absolute;
  left: 24px;
  top: 90px;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

.menu-icon {
  position: absolute;
  right: 24px;
  top: 102px;
  width: 23px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-icon .line {
  width: 23px;
  height: 2px;
  background-color: black;
}

.image-placeholder {
  position: absolute;
  width: calc(100% - 48px);
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  display: block;
}

.profile-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain; /* 이미지 원본 비율 유지 */
}

@media (max-width: 402px) {
  .home-container {
    padding: 0 16px;
  }
  
  .home-name {
    left: 16px;
  }
  
  .menu-icon {
    right: 16px;
  }
  
  .image-placeholder {
    left: 16px;
    width: calc(100% - 32px);
  }
}

