@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Root layout container replacement */
.app-container {
  width: 100%;
  min-width: 340px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* =========================
   COMMON MEDIA LOADING
========================= */

.media-placeholder-wrapper {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
  aspect-ratio: 4 / 3;
}

.loading-shimmer {
  background: linear-gradient(
    110deg, 
    #f2f2f2 30%, 
    #ffffff 50%, 
    #f2f2f2 70%
  );
  background-size: 300% 100%;
  animation: skeleton-shimmer 4.0s infinite ease-in-out;
}

.media-element {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.media-placeholder-wrapper:not(.loading-shimmer) {
  background-color: #ffffff;
  aspect-ratio: auto;
}

.media-placeholder-wrapper:not(.loading-shimmer) .media-element {
  opacity: 1;
}

/* =========================
   MENU ICON
========================= */

.common-menu-icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  cursor: pointer;
  margin-top: 7px; /* 32px 폰트(line-height 38px)의 첫 줄 중앙에 맞춤 */
}

.menu-icon-img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  display: block;
}

/* App.css Content */
.container {
  position: relative;
  width: 402px;
  height: 874px;
  background: #FFFFFF;
  margin: 0 auto;
}

.name {
  position: absolute;
  width: 138px;
  height: 81px;
  left: 24px;
  top: 82px;
  font-family: 'Pretendard Variable', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

.menu {
  position: absolute;
  width: 23px;
  height: 16px;
  left: 355px;
  top: 102px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  width: 23px;
  border: 2px solid #000000;
}

.image-box {
  position: absolute;
  width: 354px;
  height: 528px;
  left: 24px;
  top: 207px;
  background: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-placeholder {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.image-text {
  position: absolute;
  width: 83px;
  height: 38px;
  font-family: 'Pretendard Variable', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #808080;
}
