.media-error-placeholder {
  width: 100%;
  height: 100%;
  min-height: 200px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  aspect-ratio: 4 / 3;
}

.media-error-message {
  font-family: 'Pretendard Variable', sans-serif;
  font-size: 14px;
  color: #808080;
  text-align: center;
}

.media-placeholder-wrapper.loading-shimmer {
  min-height: 200px;
}

.home-media-frame.media-placeholder-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

