.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 40px; /* Common bottom margin */
  flex-shrink: 0;
}

.page-header-title {
  font-family: 'Pretendard Variable', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  margin: 0;
}

.page-header-menu-icon {
  cursor: pointer;
  display: flex;
}

.menu-icon-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


