.page-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* center -> flex-start */
  width: 100%;
  margin-bottom: 40px; /* Common bottom margin */
  flex-shrink: 0;
}

.page-header-title {
  font-family: 'Pretendard Variable', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  margin: 0;
}

