.page-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 40px; /* Common bottom margin */
  flex-shrink: 0;
}

.page-header-title {
  font-family: 'Pretendard Variable', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  margin: 0;
}

.page-header-menu-icon {
  width: 23px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 12px; /* Visual alignment with text */
}

.page-header-menu-icon .line {
  width: 23px;
  height: 2px;
  background-color: black;
}
